.face {
    background-color: yellow;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.eyes-section {
    height: 50%;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-1, .eye-2 {
    background-color: black;
    height: 20%;
    width: 10%;
    border-radius: 50%;
    display: inline-block;
}

.eye-1 {
    margin-right: 50px;
}

.mouth-section {
    /* background-color: yellowgreen; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouth {
    height: 40%;
    width: 60%;
    background-color: brown;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}