/* Answer  */
#box {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em;
}

/* Answer 2 */
.box {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

/* Answer 3 */
li {
    display: inline;
}

/* 
    Li (listitems) have their display property set to “list-item” by default which makes
    them a bulleted list item.
    When this property is reset by you to "inline", then the bullet points also disappear.
    In a way, we override the default setting with our CSS
 */