/* PART A (Selectors) */

* {
    text-align: center;
}

#mainTopic {
    color: blue;
}

h1, h2, h5 {
    font-family: Georgia;
}

.content {
    background-color: cornflowerblue;
    color: white;
}

div button {
    background-color: purple;
    color: azure;
}

/* PART B (Pseduo class & elements) */

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter{
    color: red;
}

#yes:checked + label {
    color: darkgreen;
}

/* Answer 10 */
/* 
    a) #mainContent
    b) div .main
    c) .main
    d) h1 
*/