/* Practice Question 3 */

* {
    font-family: courier new;
}

h1 {
    color: #1b74e4;
}

#searchbtn {
    background-color: black;
    color: white;
}

/* #login, #register {
    background-color: aqa;
} */

.userbtn {
    background-color: aqua;
}
